<script setup lang="ts">
import { computed, ref, type Ref } from 'vue';
type Todo ={
    id:number
    text:string
    done:boolean
}
let id =0
const newtodo=ref('')
const num1 = ref(0)
const num2 = ref(0)
const hideCompleted = ref(false)
const todos =ref<Todo[]>([
    {id:id++,text:'Learn HTML',done:true},
    {id:id++,text:'Learn JavaScript',done:true},
    {id:id++,text:'Learn Vue',done:false}
])
const filteredTodos = computed(() =>{
    if(hideCompleted.value){
       return todos.value.filter((t) => !t.done )
    }else{
        return todos.value 
    }
    
})
function addTodo(e:any){
    e.preventDefault() 
    todos.value.push({id:id++,text: newtodo.value, done:false})
    newtodo.value=''
}
function removeTodo(todo:Todo){
    //  todos.value = todos.value.filter((t) => t !== todo)
//   todos.value = todos.value.filter((t) => t.id !== id)
//  const index =todos.value.findIndex((t) => t.id === id)
//  todos.value.splice(index,1)
const index = todos.value.indexOf(todo)
todos.value.splice(index,1)
}
// function calculate(){
//     result.value = num1.value + num2.value
// }
const result = computed(() => num1.value + num2.value)
</script>
<template>
    <input type="text" v-model.number="num1">+<input type="text" v-model.number="num2"> = {{result}} 
   
    <div>{{todos}}</div>
    <div>{{ newtodo }}</div>
    <form @submit.prevent="addTodo">
        <input type="text" v-model="newtodo">
    <button >Add Todo</button>
    </form>
    
    <ul>
        <li v-for="todo in filteredTodos" :key="todo.id" :class="{done:todo.done}"> 
            <input type="checkbox" v-model="todo.done"> {{todo.text}}
           <button @click="removeTodo(todo)">X</button></li>
      
    </ul>
    <button @click="hideCompleted=!hideCompleted">{{hideCompleted? 'Hide complete' : 'Show All'}}</button>
</template>
<style scoped>
.done{
    text-decoration: line-through;
}
</style>